<footer class="bg-black text-white-50 pt-5 pb-3 border-top border-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5 class="text-white mb-3">KaraokeStar</h5>
        <p class="small">
          Dịch vụ hát karaoke hàng đầu với hệ thống phòng hát hiện đại,
          âm thanh sống động và không gian sang trọng. Đặt phòng ngay
        </p>
      </div>
      <div class="col-md-2 mb-4">
        <h6 class="text-white">Về chúng tôi</h6>
        <ul class="list-unstyled small">
          <li>
            <a href="#" class="text-white-50 text-decoration-none"
              >Giới thiệu</a
            >
          </li>
          <li>
            <a href="#" class="text-white-50 text-decoration-none"
              >Tuyển dụng</a
            >
          </li>
          <li>
            <a href="#" class="text-white-50 text-decoration-none">Đối tác</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-4">
        <h6 class="text-white">Hỗ trợ</h6>
        <ul class="list-unstyled small">
          <li>
            <a href="#" class="text-white-50 text-decoration-none"
              >Chính sách bảo mật</a
            >
          </li>
          <li>
            <a href="#" class="text-white-50 text-decoration-none"
              >Điều khoản sử dụng</a
            >
          </li>
          <li>
            <a href="#" class="text-white-50 text-decoration-none">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center pt-3 border-top border-secondary small">
      © 2025 KaraokeStar.
    </div>
  </div>
</footer>

